<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    body{
        background: darkseagreen ;
        text-align: center;
        font-size: 50px;
    }

</style>
</head>
<body>
<h1>Homework 3 <P style="position: relative; font-size: 20px; opacity: 70%; ">Task1</h1>
        <header>
            <nav>
                <ul style=" list-style-type: none;">
                    <li><a href="http://127.0.0.1:5000">Home</a></li>
                    <li><a href="http://127.0.0.1:5000/tracks/">Second Task</a></li>
                    <li><a href="http://127.0.0.1:5000/tracks-sec/">Third Task</a></li>
                </ul>
            </nav>
        </header>
<h4>кількість унікальних імен</h4>
{{ name }}
</body>
</html>